.acf-is-searchable > .handle > .acf-tbody > .li-field-type::after {
    content: "\f179";
    display: inline-block;
    font-size: 16px;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    color: #aeaeae;
    margin-left: 5px;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
}

.acf-is-searchable.open > .handle > .acf-tbody > .li-field-type::after {
    color: white;
}
